// Colors
$brand-primary: #85CE36 !default;
$brand-success: #85CE36 !default;
$brand-info: #76D4F5 !default;
$brand-warning: #FE974B !default;
$brand-danger: #d14b4b !default;
$brand-inverse: #131e26 !default;

$link-color: #999999 !default;
$body-color: #4F5F6F !default;
$headings-color: inherit !default;

// Fonts
$font-family-sans-serif: 'Open Sans', sans-serif;

// Cards
$card-border-radius: 0;
$card-border-width: 0;

// Inputs
$input-border-radius: 0;

// Tabs
$nav-tabs-border-radius: 0;
$nav-link-padding: 0.3em 0.8em;

// Tables
$table-bg-accent: rgba(0,0,0,.02);
